body {
  background: #383b3e;
  max-width: 768px;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  color: antiquewhite;
}

button {
  width: 10rem;
}

#inputContainer {
  text-align: center;
}

#numberDisplay {
  border-style: solid;
  display: inline-block;
  height: 4rem;
  width: 5rem;
  text-align: center;
}

.number {
  background: rgb(247, 242, 242);
  display: inline-block;
  text-align: center;
  width: 12%;
  font-size: xxx-large;
  border-style: solid;
  border-radius: 50%;
}

.generatedYet {
  color: white;
  background: #000;
}
